.authen-template{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1654225718758-79c6f724183a?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
}

.authen-template___form{
    width: 400px;
    height: 90vh;
    background-color: white;
    margin-left: 30px;
    border-radius: 13px;
    margin-left: 1110px;
    padding: 30px;

}
